<%- include('../../partials/head' , { title: 'Add Experience' }) %>
    <%- include('../../partials/sidebar') %>
        <%- include('../../partials/header') %>

            <main class="content">
                <div class="container-fluid p-0">

                    <div class="row align-items-center mb-3">
                        <div class="col-6">
                            <div class="h2">
                                Add Experience
                            </div>
                        </div>
                    </div>
                    <form action="/admin/experience/save" method="POST">
                        <div class="mb-3">
                          <label for="school" class="form-label">Company:</label>
                          <input type="text" id="company" name="company" class="form-control" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="degree" class="form-label">Title:</label>
                          <input type="text" id="title" name="title" class="form-control" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="fieldOfStudy" class="form-label">Location:</label>
                          <input type="text" id="location" name="location" class="form-control" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="startDate" class="form-label">Start Date:</label>
                          <input type="date" id="startDate" name="startDate" class="form-control" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="endDate" class="form-label">End Date:</label>
                          <input type="date" id="endDate" name="endDate" class="form-control" required>
                        </div>
                
                        <div class="mb-3">
                          <label for="description" class="form-label">Description:</label>
                          <textarea id="description" rows="20" name="description" class="form-control"></textarea>
                        </div>
                
                        <button type="submit" class="btn btn-primary">Add Experience</button>
                      </form>
                      
                </div>
            </main>

<%- include('../../partials/footer') %>