<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/admin/profile">
      <span class="align-middle"><%= locals.user.name %></span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>

      <li class="sidebar-item <% if(lastUrl == 'profile') { %> active <% } %>">
        <a class="sidebar-link" href="/admin/profile">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
        </a>
      </li>

      <li class="sidebar-item <% if(lastUrl == 'edit-profile') { %> active <% } %>">
        <a class="sidebar-link" href="/admin/edit-profile">
          <i class="fas fa-pencil-alt"></i><span class="align-middle">Edit Profile</span>
        </a>
      </li>


      <li class="sidebar-item <% if(lastUrl == 'category') { %> active <% } %>">
        <a class="sidebar-link" href="/admin/category/all">
          <i class="fa fa-folder-open"></i><span class="align-middle">Categories</span>
        </a>
      </li>


      <li class="sidebar-item <% if(lastUrl == 'skills') { %> active <% } %>">
        <a class="sidebar-link" href="/admin/skills/all">
          <i class="fas fa-lightbulb"></i><span class="align-middle">Skills</span>
        </a>
      </li>

      <li class="sidebar-item <% if(lastUrl == 'service') { %> active <% } %>">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseServices" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="fas fa-handshake"></i><span class="align-middle">Services</span>
        </a>
        <div class="collapse ms-3" id="collapseServices">
          <a class="sidebar-link" href="/admin/service/all">
            <i class="fas fa-th"></i> <span class="align-middle">All Services</span>
          </a>
          <a class="sidebar-link" href="/admin/service/add">
            <i class="fas fa-plus"></i> <span class="align-middle">Add Service</span>
          </a>
        </div>
      </li>

      <li class="sidebar-item <% if(lastUrl == 'education') { %> active <% } %>">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseEducations" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="fas fa-graduation-cap"></i> <span class="align-middle">Educations</span>
        </a>
        <div class="collapse ms-3" id="collapseEducations">
          <a class="sidebar-link" href="/admin/education/all">
            <i class="fas fa-th"></i> <span class="align-middle">All Education</span>
          </a>
          <a class="sidebar-link" href="/admin/education/add">
            <i class="fas fa-plus"></i> <span class="align-middle">Add Education</span>
          </a>
        </div>
      </li>

      <li class="sidebar-item <% if(lastUrl == 'experience') { %> active <% } %>">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseExperiences" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="fas fa-chart-line"></i> <span class="align-middle">Experiences</span>
        </a>
        <div class="collapse ms-3" id="collapseExperiences">
          <a class="sidebar-link" href="/admin/experience/all">
            <i class="fas fa-th"></i> <span class="align-middle">All Experiences</span>
          </a>
          <a class="sidebar-link" href="/admin/experience/add">
            <i class="fas fa-plus"></i> <span class="align-middle">Add Experience</span>
          </a>
        </div>
      </li>

      <li class="sidebar-item <% if(lastUrl == 'project') { %> active <% } %>">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseProjects" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="fas fa-code"></i> <span class="align-middle">Projects</span>
        </a>
        <div class="collapse ms-3" id="collapseProjects">
          <a class="sidebar-link" href="/admin/project/all">
            <i class="fas fa-th"></i> <span class="align-middle">All Projects</span>
          </a>
          <a class="sidebar-link" href="/admin/project/add">
            <i class="fas fa-plus"></i><span class="align-middle">Add Project</span>
          </a>
        </div>
      </li>

      <li class="sidebar-item <% if(lastUrl == 'blog') { %> active <% } %>">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseBlogs" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="fas fa-blog"></i> <span class="align-middle">Blogs</span>
        </a>
        <div class="collapse ms-3" id="collapseBlogs">
          <a class="sidebar-link" href="/admin/skills/add">
            <i class="fas fa-th"></i> <span class="align-middle">All Blogs</span>
          </a>
          <a class="sidebar-link" href="ui-forms.html">
            <i class="fas fa-plus"></i><span class="align-middle">Add Blog</span>
          </a>
        </div>
      </li>





    </ul>

  </div>
</nav>

<div class="main">