<h1>Can you create a login template for Admin Login?</h1>
<h2>You require a form with action="/login" method="POST"</h2>
<h3>And two inputs (email, password) with a submit button (Login)</h3>
<h4>You may give the inputs' name "email" and "password" by order</h4>
<h2 style="font-weight: bold; color: red;">Please make a responsive template :)</h2>

<h1 style="color:blue; font-weight: bold;">For Eziz Hummedov</h1>