<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  
  <div class="login-box">
    <h2>Login</h2>
    <form action="/login" method="POST" id="login-form">
      <div class="user-box">
        <label>Username</label>
        <input type="text" name="email" required="">
      </div>
      <div class="user-box">
        <label>Password</label>
        <div class='password-container'>
          <input type="password" name="password" required="">
          <i class="fa-sharp fa-solid fa-eye-slash"></i>
        </div>
      </div>
      <button type="submit" class='login-button'>Login</button>
    </form>
  </div>

    <script src="/js/iziToast.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/js/ajax.js"></script>
    <script>
      const myInput = document.querySelector('input[type="password"]');
const toggleIcon = document.querySelector('.fa-eye-slash');



toggleIcon.addEventListener('click', function() {
  if (myInput.type === 'password') {
    myInput.type = 'text';
    toggleIcon.classList.remove('fa-eye');
    toggleIcon.classList.add('fa-eye-slash');
  } else {
    myInput.type = 'password';
    toggleIcon.classList.remove('fa-eye-slash');
    toggleIcon.classList.add('fa-eye');
  }
});
    </script>
</body>

</html>